EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_ADMOB_IOS_BANNER=ca-app-pub-9441192520255287/8591748913
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL=ca-app-pub-9441192520255287/2437404106
ADMOB_IOS_APP_ID=ca-app-pub-9441192520255287~5695966144
ADMOB_ANDROID_APP_ID=
EAS_PROJECT_ID=
EXPO_PUBLIC_SITE_URL=

EXPO_PUBLIC_ADMOB_TEST_MODE=true
